.form{
 text-align: center; 
 height: 1100px; 
margin-left: 20%;
padding: 1%;
margin-right: 10%;
border: 2px solid #000000;
border-radius: 4% ;
background-color: rgb(224, 250, 241);
}
input{
    width: 60%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing:border-box;
    text-align: center;
    background-color: rgb(167, 244, 218);
}
.submit{
    width: 40%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
background-color: #0cef13;
}
button{
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  border-radius: 20px;
  width: 40%;
  margin-left: 20%px;

}
.checkbox{
    text-align: justify;
}
.radio{
  text-align: justify;
}
.p1{
    margin-left: 20%;
}

